@import 'mixins';

body{
  background-color: #f2f2f2;
}

.featured-img{
  display: block;
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.form-group{
  background-color: white;
  padding: 15px;
  @include rounded(6px);
  @include box-shadow(0, 3px, 6px, rgba(0, 0, 0, .1), false);
  label{
    font-size: 1.1em;
    font-weight: bold;
  }
  .form-check{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.table{
  background-color: white;
  padding: 15px;
  @include rounded(6px);
  @include box-shadow(0, 3px, 6px, rgba(0, 0, 0, .1), false);
}

.media-image-container{
  padding: 10px;
  background-color: white;
  @include rounded(6px);
}

.media-image{
  display: block;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  @include rounded(6px);
}


.delete_image{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50px;
    background-color: #dc3545;
    border: solid 3px white;
    border-radius: 50%;
    position: absolute;
    right:-10px;
    top: -10px;
    cursor: pointer;
}

.delete_image:hover{
  background-color: #b82d3a;
}
